/** Media Queries **/

@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor) {
    background-color: $bgColor;
    color: $blanco;
    border: none;
    border-radius: 2rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc($separacion / 2);
    &:hover {
        background-color: darken($blanco, 20);
    }
}