@import url('https://fonts.cdnfonts.com/css/avenir');
// Fuentes
$fuente_principal: 'Avenir',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$negro: #000000;
$amarillo: #ffdf00;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$separacion: 5rem;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900