.contenedor-agencia {
    .mapa {
        display: flex;
        justify-content: center;
        align-items: center;
        iframe {
            width: 500rem;
            height: 100%;
        }
    }
    p {
        text-align: justify;
    }
    a {
        color: $negro;
        font-size: 3rem;
    }
    @include tablet {
        @include grid(2, 1rem);
        .video {
            margin-top: 10rem;
        }
        img {
            width: 50rem;
            margin-left: 5rem;
        }
    }
}

h1 {
    text-transform: uppercase;
}