.plantillaBlog2 {
    @include tablet {
        img {
            width: 100%;
            height: 25rem;
        }
    }
    hr {
        margin: 3rem 0;
        border-top: 1rem solid $negro;
    }
    h1 {
        font-size: 4rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-weight: $bold;
    }
    .primera-informacion {
        p {
            font-weight: 100;
            text-align: justify;
        }
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 2fr;
            column-gap: 2rem;
            img {
                height: 40rem;
            }
        }
    }
    .segunda-informacion {
        ol {
            text-align: justify;
            font-size: 2rem;
            span {
                font-weight: $bold;
            }
        }
        img {
            margin-top: 2rem;
        }
        @include tablet {
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 2rem;
        }
    }
    .tercera-informacion {
        img {
            margin-top: 2rem;
            @include tablet {
                height: 35rem;
            }
        }
        p {
            font-weight: 100;
            text-align: justify;
        }
        @include tablet {
            display: grid;
            grid-template-columns: 2fr 2fr;
            column-gap: 3rem;
        }
    }
}