.blogPlantilla5 {
    @include tablet {
        img {
            width: 100%;
            height: 25rem;
        }
    }
    hr {
        margin: 3rem 0;
        border-top: 1rem solid $negro;
    }
    h1 {
        font-size: 4rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: $bold;
    }
    p {
        text-align: center;
        font-weight: $bold;
    }
    .contenedor-informacionUno {
        p {
            font-weight: 100;
            text-align: justify;
        }
        .contenido-infoUno {
            @include tablet {
                @include grid(2, 3rem);
                img {
                    margin-top: 2rem;
                    height: 45rem;
                }
            }
        }
    }
    .contenedor-informacionDos {
        p {
            font-weight: 100;
            text-align: justify;
        }
        @include tablet {
            @include grid(2, 3rem);
            img {
                margin-top: 2rem;
                height: 45rem;
            }
        }
    }
    .contenedor-informacionTres {
        ul {
            text-align: justify;
            list-style: none;
            margin-left: -3rem;
            margin-right: 1rem;
            font-size: 2rem;
            li {
                span {
                    font-weight: $bold;
                }
                margin-top: 2rem;
            }
            .imagen1 {
                height: 37.5rem;
            }
        }
        @include tablet {
            @include grid(2, 3rem);
            img {
                margin-top: 2rem;
                height: 45rem;
            }
        }
    }
    .contenedor-informacionCuatro {
        p {
            font-weight: 100;
            text-align: justify;
        }
        .contenido-informacionCuatro {
            @include tablet {
                @include grid(2, 3rem);
                img {
                    margin-top: 2rem;
                    height: 35rem;
                }
            }
        }
    }
}