.plantillaBlog1 {
    @include tablet {
        img {
            width: 100%;
            height: 25rem;
        }
    }
    hr {
        margin: 3rem 0;
        border-top: 1rem solid $negro;
    }
    h1 {
        font-size: 4rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        text-align: justify;
    }
    .span {
        text-align: center;
        span {
            font-weight: $bold;
        }
    }
    .introduccion {
        .primera-informacion {
            p {
                text-align: justify;
            }
            @include tablet {
                display: grid;
                grid-template-columns: 2fr 1fr;
                column-gap: 2rem;
            }
        }
        .segunda-informacion {
            text-align: justify;
            margin: 5rem 0;
        }
        .tercera-informacion {
            text-align: justify;
            font-size: 2rem;
            @include tablet {
                display: grid;
                grid-template-columns: 1fr 2fr;
                column-gap: 2rem;
                img {
                    height: 30rem;
                }
            }
        }
    }
    .informacion-desarrollo {
        ul {
            margin-left: -4rem;
            list-style: none;
            li {
                margin-top: 2rem;
                font-size: 2rem;
                text-align: justify;
            }
            span {
                font-weight: $bold;
            }
            @include tablet {
                margin-left: 0;
                img {
                    height: 20rem;
                }
            }
        }
        @include tablet {
            margin-right: 3rem;
            display: grid;
            grid-template-columns: 2fr 2fr;
            column-gap: 3rem;
        }
    }
    .conclusion {
        p {
            text-align: justify;
        }
        img {
            margin-top: 2rem;
        }
        .informaion-conclusion {
            @include tablet {
                display: grid;
                grid-template-columns: 1fr 2fr;
                column-gap: 1rem;
                img {
                    height: 20rem;
                    margin-top: 2.5rem;
                }
            }
        }
    }
}