.blogPlantilla3 {
    @include tablet {
        img {
            width: 100%;
            height: 25rem;
        }
    }
    hr {
        margin: 3rem 0;
        border-top: 1rem solid $negro;
    }
    h1 {
        font-size: 3.5rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    h2 {
        font-weight: $bold;
        font-size: 3rem;
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-weight: $bold;
    }
    .primer-contenido {
        p {
            font-weight: 100;
            text-align: justify;
        }
        .informacin-contenido {
            @include tablet {
                display: grid;
                grid-template-columns: 1.5fr 2fr;
                column-gap: 2rem;
                img {
                    margin-top: 2rem;
                    height: 42rem;
                }
            }
        }
    }
    .segundo-contenido {
        p {
            font-weight: 100;
            text-align: justify;
        }
        .informacion-contenidoDos {
            p {
                font-weight: 100;
                text-align: justify;
            }
            @include tablet {
                display: grid;
                grid-template-columns: 2fr 2fr;
                column-gap: 5rem;
            }
        }
    }
    .listado-contenidoTres {
        @include tablet {
            @include grid(2, 3rem);
            ul {
                list-style: none;
                font-size: 2rem;
                text-align: justify;
                li {
                    margin-top: 2rem;
                    span {
                        font-weight: $bold;
                    }
                    img {
                        height: 31rem;
                    }
                }
            }
        }
    }
    .cuarto-contenido {
        p {
            font-weight: 100;
            text-align: justify;
        }
        @include tablet {
            @include grid(2, 3rem);
            img {
                height: 20rem;
            }
        }
    }
}