.blogPlantilla4 {
    @include tablet {
        img {
            width: 100%;
            height: 25rem;
        }
    }
    hr {
        margin: 3rem 0;
        border-top: 1rem solid $negro;
    }
    h1 {
        font-size: 4rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    h2 {
        font-size: 3rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    p {
        text-align: center;
        font-weight: $bold;
    }
    .contenido-uno {
        p {
            font-weight: 100;
            text-align: justify;
        }
        .descripcionc-contenidoUno {
            @include tablet {
                @include grid(2, 6rem);
            }
            img {
                margin-top: 2rem;
                height: 29rem;
            }
        }
    }
    .contenido-dos {
        p {
            font-weight: 100;
            text-align: justify;
        }
        @include tablet {
            @include grid(2, 5rem);
            img {
                margin-top: 2rem;
                height: 40rem;
            }
        }
    }
    .contenido-tres {
        p {
            font-weight: 100;
            text-align: justify;
        }
        .listado-contenidoTres {
            ul {
                text-align: justify;
                list-style: none;
                margin-left: -3rem;
                margin-right: 1rem;
                font-size: 2rem;
                li {
                    margin-top: 2rem;
                }
                span {
                    font-weight: $bold;
                }
                img {
                    height: 100%;
                    @include tablet {
                        height: 35rem;
                    }
                }
            }
            @include tablet {
                @include grid(2, 2rem);
            }
        }
    }
    .contenido-cuatro {
        p {
            font-weight: 100;
            text-align: justify;
        }
        img {
            height: 100%
        }
        @include tablet {
            @include grid(2, 3rem);
            img {
                margin-top: 2rem;
                height: 50rem;
            }
        }
    }
}