.botones-hotspor {
    position: absolute;
    display: flex;
    margin-top: -8rem;
    button {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .8);
        font-size: 2.5rem;
        color: $blanco;
        font-weight: $bold;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.603);
        }
    }
    .hotspot-8,
    .hotspot-7,
    .hotspot-6,
    .hotspot-5,
    .hotspot-4,
    .hotspot-3,
    .hotspot-2,
    .hotspot-1 {
        opacity: 0;
    }
    @include tablet {
        .hotspot-8,
        .hotspot-7,
        .hotspot-6,
        .hotspot-5,
        .hotspot-4,
        .hotspot-3,
        .hotspot-2,
        .hotspot-1 {
            opacity: 1;
        }
        margin-top: -20rem;
        .hotspot-8 {
            position: absolute;
            margin: 0 0 0 108rem;
        }
        .hotspot-7 {
            position: absolute;
            margin: -4rem 0 0 105rem;
        }
        .hotspot-6 {
            position: absolute;
            margin: 12rem 0 0 70rem;
        }
        .hotspot-5 {
            position: absolute;
            margin: 0 0 0 73rem;
        }
        .hotspot-4 {
            position: absolute;
            margin: 5rem 0 0 47rem;
        }
        .hotspot-3 {
            position: absolute;
            margin: 0rem 0 0 25rem;
        }
        .hotspot-2 {
            position: absolute;
            margin: 8rem 0 0 19rem;
        }
        .hotspot-1 {
            position: absolute;
            margin: -4rem 0 0 17rem;
        }
    }
}