.contenido-modelos {
    @include tablet {
        @include grid(3, 1rem)
    }
    .contenedor-modelo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 2rem;
    }
    .card {
        position: relative;
        width: 320px;
        height: 450px;
        background: $grisOscuro;
        border-radius: 20px;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $negro;
            clip-path: circle(150px at 80% 20%);
            transition: 0.5s ease-in-out;
        }
        &:hover:before {
            clip-path: circle(300px at 80% -20%);
        }
        &:after {
            position: absolute;
            top: 30%;
            left: -20%;
            font-size: 12em;
            font-weight: 800;
            font-style: italic;
            color: rgba(255, 255, 255, 0.04);
        }
        .imagen-card {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1000;
            width: 100%;
            height: 100%;
            transition: .5s;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 270px;
            }
        }
        &:hover {
            .imagen-card {
                top: 0%;
                transform: translateY(-25%);
            }
            .contenido-card {
                height: 210px;
                a {
                    opacity: 1;
                    transform: translateY(0px);
                    transition-delay: .7s;
                }
            }
        }
        .contenido-card {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            transition: 1s;
            z-index: 90;
            h2 {
                position: relative;
                font-weight: 600;
                letter-spacing: 1px;
                color: #fff;
            }
            a {
                display: inline-block;
                padding: 5px 10px;
                background: #fff;
                border-radius: 4px;
                margin-top: 10px;
                text-decoration: none;
                opacity: 0;
                color: #111;
                transform: translateY(10px);
                transition: .5s;
            }
        }
    }
}