.colores {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $blanco;
    background-color: rgba(255, 254, 254, 0.4);
    .contenido-modal {
        background-color: rgba(3, 3, 3, 0.603);
        margin: auto;
        padding: 20px;
        border-radius: 2rem;
        width: 60%;
    }
    .boton-cerrar {
        color: $blanco;
        float: right;
        font-size: 2.8rem;
        font-weight: $bold;
        &:hover,
        &:focus {
            color: $negro;
            text-decoration: none;
            cursor: pointer;
        }
    }
    img {
        @include tablet {
            margin-left: 25%;
            width: 50%;
        }
    }
    .oculto {
        display: none;
    }
    p {
        margin-top: 2rem;
        text-align: center;
        font-size: 2rem;
        color: $blanco;
        font-weight: $bold;
        @include tablet {
            font-size: 4rem;
        }
    }
    .botones-color {
        display: flex;
        justify-content: center;
        gap: 4rem;
        input {
            font-size: 20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }
        @include tablet {
            font-size: 30rem;
            gap: 8rem;
        }
        .btn-o {
            background-color: #dda90d;
            &:hover {
                background-color: #b8a981;
            }
        }
        .btn-r {
            background-color: orange;
            &:hover {
                background-color: rgb(255, 216, 180);
            }
        }
        .btn-a {
            background-color: blue;
            &:hover {
                background-color: rgb(180, 191, 255);
            }
        }
        .btn-n {
            background-color: $negro;
            &:hover {
                background-color: $gris;
            }
        }
        .btn-p {
            background-color: #C0C0C0;
            &:hover {
                background-color: #f3f3f3;
            }
        }
    }
}