.contenedor-corporativo {
    h1 {
        font-size: 6rem;
        font-weight: $bold;
        text-transform: uppercase;
    }
    h2 {
        text-transform: uppercase;
        font-weight: $bold;
    }
}

.informacion-principal {
    img {
        max-width: 500%;
    }
    p {
        text-align: justify;
    }
}

.contenedor-corporativo {
    img {
        max-width: 100%;
        height: auto;
    }
    p {
        text-align: justify;
    }
}