.contenedor-distribuidor {
    background-color: $gris;
    border-radius: 2rem;
    h1 {
        font-weight: $bold;
    }
    .contenido-distribuidor {
        padding: 2rem;
        input {
            width: 100%;
        }
        textarea {
            width: 100%;
            height: 7rem;
        }
        @include tablet {
            @include grid(2, 1rem);
            margin-top: -3rem;
            text-align: end;
            input {
                margin-right: 1.5rem;
                width: 18rem;
            }
        }
        .formulario-distribuidir {
            margin-top: 1rem;
        }
        .boton-distribuidor {
            background-color: $negro;
            border: none;
            height: 3rem;
            border-radius: 1rem;
            color: $blanco;
            cursor: pointer;
            &:hover {
                background-color: $blanco;
            }
        }
    }
}