.efecto360 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $blanco;
    background-color: rgba(255, 254, 254, 0.4);
    .contenido-modal {
        border: .5rem solid $negro;
        background-color: $blanco;
        background-repeat: no-repeat;
        margin: auto;
        padding: 20px;
        border-radius: 2rem;
        width: 80%;
        margin-top: 5rem;
        @include tablet {
            padding: 3rem;
            width: 35%;
            margin-top: -4rem;
        }
    }
    .boton-crl {
        color: $negro;
        display: flex;
        justify-content: end;
        font-size: 2.8rem;
        font-weight: $bold;
        &:hover,
        &:focus {
            color: $blanco;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .sider-contenedor {
        width: 100%;
        height: 30rem;
        overflow: hidden;
        ul {
            width: 800%;
            display: flex;
            justify-content: space-between;
            animation: cambio 20s infinite;
        }
        li {
            list-style: none;
        }
        img {
            width: 100%;
            height: 25rem;
        }
        @keyframes cambio {
            0% {
                margin-left: 0;
            }
            7% {
                margin-left: 0%;
            }
            12% {
                margin-left: -150%;
            }
            19% {
                margin-left: -150%;
            }
            24% {
                margin-left: -270%;
            }
            31% {
                margin-left: -270%;
            }
            36% {
                margin-left: -380%;
            }
            43% {
                margin-left: -380%;
            }
            48% {
                margin-left: -470%;
            }
            55% {
                margin-left: -470%;
            }
            60% {
                margin-left: -540%;
            }
            67% {
                margin-left: -540%;
            }
            72% {
                margin-left: -600%;
            }
            79% {
                margin-left: -600%;
            }
            84% {
                margin-left: -700%;
            }
            91% {
                margin-left: -700%;
            }
            96% {
                margin-left: -800%;
            }
            100% {
                margin-left: -800%;
            }
        }
    }
}