.evento-insurgentes,
.evento-guadalajara,
.evento-puebla,
.evento-queretaro {
    background-color: $grisOscuro;
    border-radius: 2.5rem;
    h2 {
        padding-top: 5rem;
        font-weight: $bold;
        color: $blanco;
        text-transform: uppercase;
    }
}

.tipo-evento {
    padding: 2rem;
}

.evento {
    margin-top: 1.5rem;
    background-color: $gris;
    border-radius: 1rem;
    padding-bottom: 1rem;
    .imagen-evento {
        padding: 2rem;
        img {
            height: 30rem;
        }
    }
    h3 {
        font-weight: $bold;
    }
    h4 {
        margin-top: -2rem;
        margin-left: 1rem;
    }
    p {
        text-align: justify;
        margin: -4rem 1rem 3rem 1rem;
    }
    .boton-evento {
        display: flex;
        background-color: $negro;
        margin: 0 1rem 0 1rem;
        border-radius: 1rem;
        &:hover {
            background-color: $gris;
        }
        a {
            color: $blanco;
            width: 100%;
            text-align: center;
        }
    }
    @include tablet {
        display: grid;
        gap: 1rem;
        grid-template-columns: 25% 70%;
        padding-bottom: 0;
        .imagen-evento {
            img {
                height: 30rem;
            }
        }
        h3 {
            margin-top: 0;
        }
        p {
            margin-bottom: 2rem;
            font-size: 1.7rem;
            text-align: justify;
        }
        .evento-dia {
            @include grid(2, 1rem);
            p {
                font-size: 1.5rem;
            }
        }
        .boton-evento {
            margin-bottom: 1rem;
            margin-left: 60rem;
        }
    }
}