.contenido-evento {
    h2 {
        font-size: 3.5rem;
        text-transform: uppercase;
    }
    h3,
    p {
        margin: 3rem;
        text-align: justify;
    }
    @include tablet {
        .dia-evento {
            @include grid(2, 1rem)
        }
    }
}