footer {
    background-color: $grisOscuro;
    margin-bottom: -5%;
    @include tablet {
        margin-top: 0%;
        margin-bottom: -5%;
    }
}

.contenedor-footer {
    hr {
        margin-top: -5%;
    }
    @include tablet {
        @include grid(3, 1rem);
        gap: 3rem;
        text-align: justify;
    }
    h2,
    h3,
    p,
    label,
    hr {
        color: $blanco;
    }
    h2,
    h3 {
        text-transform: uppercase;
    }
    hr {
        margin-top: -3%;
        width: 90%;
    }
}

.contenido-izquierdo {
    @include tablet {
        label {
            margin-top: 5rem;
        }
    }
    .footer-redes {
        margin: 2rem 0 0 0;
    }
    a {
        padding: 0 .4rem;
        color: $blanco;
        i {
            height: 40px;
            width: 40px;
            background: #1a1a1a;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 0.3s;
        }
        i:hover {
            background: $blanco;
        }
    }
}

.contenido-centro {
    .contenido {
        h3 {
            margin-top: -.5rem;
        }
        span {
            color: $blanco;
        }
        i {
            color: $blanco;
            font-size: 1.7rem;
            background: #1a1a1a;
            height: 40px;
            width: 40px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            transition: 0.3s;
            cursor: pointer;
        }
        i:hover {
            background: white;
        }
    }
}

.contenido-derecho {
    .formulario {
        margin-top: 2rem;
        .email input {
            height: 3rem;
        }
        .msg textarea {
            height: 10rem;
        }
        .texto {
            font-size: 15px;
            margin-bottom: .1rem;
            color: $blanco;
        }
        input,
        textarea {
            width: 100%;
            font-size: 2rem;
            background: #151515;
            color: $blanco;
            padding-left: 3px;
            border: 1px solid #222222;
            border-radius: 5px;
        }
        input:focus,
        textarea:focus {
            outline-color: $grisOscuro;
        }
        input {
            margin-top: 1rem;
        }
        .btn {
            button {
                height: 40px;
                font-size: 15rem;
                border-radius: 15px;
                width: 100%;
                border: none;
                outline: none;
                background: $blanco;
                font-size: 3rem;
                font-weight: 500;
                cursor: pointer;
                transition: .3s;
                @include tablet {
                    font-size: 2rem;
                }
            }
            button:hover {
                background: $negro;
            }
            @include tablet {
                width: 50%;
            }
        }
    }
}

.copyright {
    color: $blanco;
    text-align: center;
    h2 {
        font-size: 3rem;
        text-transform: uppercase;
    }
    p {
        font-size: 1.2rem;
        color: $blanco;
    }
    hr {
        margin-top: -2%;
        color: $blanco;
        width: 70%;
    }
    @include tablet {
        hr {
            width: 90%;
        }
    }
}