.prueba-manejo {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $blanco;
    background-color: rgba(255, 254, 254, 0.4);
    .contenido-modal {
        background-color: rgba(3, 3, 3, 0.705);
        margin: auto;
        padding: 20px;
        border-radius: 2rem;
        width: 80%;
    }
    .cerrar-modal {
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: space-between;
            img {
                width: 30rem;
            }
        }
        .boton-close {
            margin-top: -1rem;
            font-size: 2.8rem;
            font-weight: $bold;
            color: $blanco;
            &:hover,
            &:focus {
                color: $negro;
                text-decoration: none;
                cursor: pointer;
            }
            @include tablet {
                margin-top: -2rem;
                font-size: 5rem;
            }
        }
    }
    h2 {
        color: $blanco;
        font-size: 2rem;
        @include tablet {
            font-size: 4rem;
        }
    }
    .fa-solid {
        color: $blanco;
        font-size: 2rem;
    }
    .formulario-pruebaManejo {
        display: block;
    }
    label {
        margin-left: .5rem;
    }
    input,
    select {
        width: 100%;
        font-size: 2rem;
        background: $gris;
        border: none;
        border-radius: 1rem;
        @include tablet {
            width: 46%;
        }
    }
    .boton-enviar {
        margin-top: 3rem;
        color: $blanco;
        font-size: 3rem;
        height: 5rem;
        background-color: $negro;
        cursor: pointer;
        @include tablet {
            margin-left: 38%;
            width: 20rem;
        }
        &:hover {
            background-color: $gris;
        }
    }
}