.formulario-contacto1 {
    .formulario {
        display: block;
        input {
            width: 100%;
            font-size: 2rem;
            background: $gris;
            color: $negro;
            border: 1px solid #222222;
            margin-top: .5rem;
        }
        .texto {
            font-size: 15px;
            margin-bottom: .1rem;
            color: $negro;
        }
        .btn {
            button {
                width: 100%;
                @include tablet {
                    margin-top: -1rem;
                    height: 5rem;
                }
            }
        }
        @include tablet {
            display: flex;
            justify-content: center;
            .nombre-Completo,
            .email {
                margin-right: 1rem;
            }
            input {
                width: 30%;
                height: 2.8rem;
                margin-right: 2rem;
            }
        }
    }
}

.formulario-contacto2 {
    .formulario {
        display: block;
        input,
        textarea,
        select {
            width: 100%;
            font-size: 2rem;
            background: $gris;
            color: $negro;
            border: 1px solid #222222;
            margin-top: .5rem;
        }
        .btn {
            button {
                margin-top: 2rem;
                height: 40px;
                color: $blanco;
                font-size: 15rem;
                border-radius: 15px;
                width: 100%;
                border: none;
                outline: none;
                background: $negro;
                font-size: 3rem;
                font-weight: 500;
                cursor: pointer;
                transition: .3s;
                @include tablet {
                    font-size: 3rem;
                    margin-top: 0;
                }
            }
            button:hover {
                background: $gris;
            }
            @include tablet {
                width: 20%;
            }
        }
        @include tablet {
            .nombreCompleto,
            .ciudadEmail,
            .telefonoModelo {
                display: flex;
                height: 3rem;
                font-size: 2rem;
                justify-content: space-between;
            }
            .descripcion {
                font-size: 2rem;
            }
            input,
            textarea,
            select {
                font-size: 2rem;
            }
            input,
            select {
                width: 35%;
            }
        }
    }
}