.header {
    background-color: $negro;
    width: 100%;
    padding: 1rem 0 0 0;
    @include tablet {
        height: 6.5rem;
    }
    &.inicio {
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        z-index: 10;
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}