.contenedor-hotspot {
    display: none;
    margin-top: 3rem;
    .contenido-hotspot1 {
        button {
            display: none;
            @include tablet {
                display: flex;
            }
        }
    }
}

@include tablet {
    .contenedor-hotspot {
        display: none;
        margin-top: 0;
        position: fixed;
        z-index: 1;
        padding-top: 10rem;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $blanco;
        background-color: rgba(255, 254, 254, 0.4);
        .contenido-hotspot1 {
            background-color: rgba(3, 3, 3, 0.705);
            margin: auto;
            padding: 20px;
            border-radius: 2rem;
            width: 50%;
            margin-top: -6rem;
        }
        button {
            margin-left: 95%;
            background-color: rgba(3, 3, 3, 0);
            color: $blanco;
            border: none;
            font-weight: $bold;
            font-size: 3rem;
            cursor: pointer;
            &:hover {
                color: $grisOscuro;
            }
        }
        img {
            margin-left: 25%;
            width: 30rem;
        }
        p {
            text-align: center;
            margin-top: 2rem;
            color: $blanco;
        }
    }
}