.iconos-servicio {
    .icono {
        img {
            height: 10rem;
        }
        h3 {
            text-transform: uppercase;
        }
        text-align: center;
    }
    @include desktop {
        .sucursales-servicios {
            @include grid(4, 2fr);
            gap: 5rem;
        }
    }
    @include tablet {
        .sucursales-servicios {
            @include grid(3, 2fr);
            gap: 4rem;
        }
    }
}