.login {
    background-color: gray;
    padding: 2rem;
    border-radius: 1rem;
    input {
        width: 100%;
        border-radius: 1rem;
        border: none;
        font-size: 2rem;
        height: 4rem;
        margin-top: 3rem;
    }
    @include tablet {
        width: 50rem;
    }
}