.contenido-modelo {
    h1,
    h2,
    h3 {
        text-decoration: $bold;
        text-transform: uppercase;
    }
    p,
    .precio {
        margin-top: -3rem;
    }
    p {
        text-align: justify;
    }
    .botones-modelo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5rem;
        button {
            width: 100%;
            cursor: pointer;
            height: 4rem;
            padding-top: .7rem;
            background-color: $grisOscuro;
            margin-top: 3rem;
            color: $blanco;
            border: none;
            border-radius: 1rem;
            &:hover {
                background-color: darken($blanco, 10);
            }
        }
    }
    @include tablet {
        @include grid(2, 3rem);
        .informacion-modelo {
            h2 {
                text-align: left;
            }
            p {
                text-align: justify;
            }
        }
        .modelo-precio {
            h1,
            h2 {
                text-align: right;
            }
        }
        .botones-modelo {
            @include grid(2, 1rem);
            margin-left: 6rem;
            button {
                padding-top: .6rem;
                width: 18rem;
                height: 4rem;
                border: none;
                color: $blanco;
                background-color: $grisOscuro;
                border-radius: 1rem;
                &:hover {
                    background-color: darken($blanco, 10);
                }
            }
        }
        .modelo {
            width: 60rem;
            height: 100%;
            margin-top: 5rem;
        }
    }
}

.imagen-modelo {
    margin-top: 5rem;
    margin-bottom: 5rem;
}