.barra {
    @include grid(2, 2rem);
    img {
        margin-top: .5rem;
    }
    @include tablet {
        display: flex;
        justify-content: space-between;
        img {
            margin-top: .5rem;
            width: 20rem;
        }
    }
}

.navegacion {
    display: none;
    text-align: center;
    margin-top: 4rem;
    @include tablet {
        margin-top: 1rem;
        display: flex;
        margin-top: .5rem;
    }
    a {
        color: $blanco;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.2rem;
        display: block;
        @include tablet {
            margin-right: 4rem;
            font-size: 1.4rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    a:hover {
        color: $grisOscuro;
    }
}

.redes {
    display: none;
    @include tablet {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 3rem;
        display: block;
        @include tablet {
            margin-right: 2rem;
            font-size: 2rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    a:hover {
        color: $grisOscuro;
    }
}


/** Menu Hambueguesa **/

.movile-menu {
    display: flex;
    justify-content: end;
    cursor: pointer;
    i {
        font-size: 3.5rem;
        color: $blanco;
    }
    @include tablet {
        display: none;
    }
}

.menu-responsive {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    @include tablet {
        display: none;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 1rem;
    top: 50px;
    height: 0;
    overflow: hidden;
    list-style: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.open {
        height: 35rem;
    }
    li {
        font-size: 3rem;
        a {
            color: $blanco;
            &:hover {
                color: $negro;
            }
        }
    }
}