.video {
    position: relative;
    max-height: 65rem;
    min-height: 50rem;
    overflow: hidden;
    video {
        margin-top: -5%;
        width: auto;
        display: block;
        @include tablet {
            width: 100%;
        }
    }
}